.header {
    text-align: center;
    padding: 10px 0px;
    background: #fafafa;
}

.container {
    padding-top: 20px;
    text-align: center;
}

.content {
    color: #fafafa;
    max-width: 500px;
    margin: auto;
    padding: 15px;
}
