.answer {
    display: flex;
    min-width: 150px;
    max-height: 40px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #181d27;
    border-radius: 4px;
}

.answer:focus {
    outline: none;
}

.answer[disabled] {
    cursor: auto;
    color: #181d27;
}

.answer.selected {
    border-width: 2px;
}

.letter {
    font-weight: bold;
    font-size: 16px;
    padding-right: 10px;
}

.content {
    flex: 1;
}

.score {
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}

.a {
    background: #C0B9DD;
    border: 1px solid #8886A1;
}

.b {
    background: #C5EFCB;
    border: 1px solid #8CAA95;
}

.c {
    background: #91BEE0;
    border: 1px solid #6989A3;
}
