.answer {
    display: flex;
    border: 1px solid #222;
    min-width: 150px;
    max-height: 40px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

.answer:focus {
    outline: none;
}

.answer[disabled] {
    cursor: auto;
    color: black;
}

.answer.selected {
    border: 2px solid #222;
}

.answer-letter {
    font-weight: bold;
    font-size: 16px;
    padding-right: 10px;
}

.answer-content {
    flex: 1;
}

.answer-score {
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}

.a {
    background: #FBC93D;
}

.b {
    background: #6CC0E5;
}

.c {
    background: #9ACD45;
}
