.play {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FBFAF8;
}

.play-mjrt {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0px;
}

.play-content {
    background: #222;
    text-align: center;
    flex: 1;
}

.play-card {
    color: #FBFAF8;
    max-width: 360px;
    margin: auto;
    padding: 15px;
}
