.play {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.play-mjrt {
    text-align: center;
    padding: 10px 0px;
    background: #fafafa;
}

.play-content {
    padding-top: 20px;
    text-align: center;
    flex: 1;
}

.play-card {
    color: #fafafa;
    max-width: 500px;
    margin: auto;
    padding: 15px;
}
