.question {
    flex: 1;
}

.round {
    font-size: 20px;
}

.questionText {
    padding: 0px 10px 10px 10px;
    font-size: 28px;
}

@media screen and (max-width: 360px) {
    .questionText {
        font-size: 20px;
    }

    .round {
        font-size: 16px;
    }
}

.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.answer {
    width: 30%;
    height: 40px;
}
