.container {
    width: 50px;
    min-width: 50px;
}

.emotes {
    flex-direction: column;
    display: flex;
    text-align: center;
    background: #171D27;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .emotes {
        position: fixed;
        flex-direction: unset;
        justify-content: center;
        height: 60px;
        bottom: 0;
        width: 100%;
    }

    .container {
        width: 0px;
        min-width: unset;
    }
}

.emotes > button {
    background: transparent;
    border: 0;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: #E0B00E;
}

.emotes > button > svg {
    height: 35px;
    width: 35px;
}
