.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.motion-twin {
  max-height: 50px;
  margin-top: auto;
  color: #fafafa;
  font-size: 12px;
  padding: 10px 5px;
  text-align: center;
}

.motion-twin > a {
  color: #fafafa;
}
