.player {
    width: 85px;
    height: 40px;
    border: 1px solid #222;
    background: white;
    padding: 10px 10px;
    display: inline-flex;
    flex-direction: column;
}

.nickname {
    flex: 1;
    font-size: 12px;
}

@media screen and (max-width: 360px) {
    .player {
        width: 75px;
        height: 30px;
        padding: 5px 5px;
    }

    .nickname {
        font-size: 10px;
    }
}

.lives {
    text-align: right;
    font-size: 12px;
    color: #FB4F4F;
    height: 15px;
}

.a {
    background: #FBC93D;
}

.b {
    background: #6CC0E5;
}

.c {
    background: #9ACD45;
}

.answered {
    background: #99CC9F;
}

.dead {
    background: rgba(255, 255, 255, 0.2);
}