.player {
    min-width: 100px;
    border: 1px solid #315325;
    background: white;
    border-radius: 4px;
    padding: 15px 10px;
    margin: 5px;
    display: inline-flex;
}

.nickname {
    flex: 1;
}

.a {
    background: #FBC93D;
}

.b {
    background: #6CC0E5;
}

.c {
    background: #FB4F4F;
}

.answered {
    background: #99CC9F;
}
