.player {
    width: 85px;
    height: 40px;
    background: #fafafa;
    color: #181d27;
    padding: 10px 10px;
    margin: 2px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #AFB1B4;
}

.nickname {
    flex: 1;
    font-size: 12px;
}

@media screen and (max-width: 360px) {
    .player {
        width: 71px;
        height: 30px;
        padding: 5px 5px;
    }

    .nickname {
        font-size: 10px;
    }
}

.icons {
    width: 100%;
    display: inline-flex;
    height: 16px;
}

.lives {
    text-align: right;
    font-size: 12px;
    margin-top: 2px;
    color: #FB4F4F;
    height: 14px;
    flex: 1;
}

.offline {
    font-size: 16px;
    height: 16px;
}

.master {
    font-size: 16px;
    height: 16px;
    margin-right: 3px;
}

@media screen and (max-width: 360px) {
    .offline, .master {
        font-size: 13px;
    }
}

.live {
    margin: 0 1px;
}

.a {
    background: #FFC09F;
    border: 1px solid #ff6e22;
}

.b {
    background: #C5EFCB;
    border: 1px solid #8CAA95;
}

.c {
    background: #91BEE0;
    border: 1px solid #6989A3;
}

.answered {
    background: #D9AE00;
    border: 1px solid #997E0D;
}

.dead {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #181d27;
}