.top {
    min-height: 140px;
    position: relative;
}

.top-content {
    padding-top: 35px;
    text-align: center;
    flex: 1;
}

.countdown {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 30px;
    background: #738290;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}