.top {
    display: flex;
    min-height: 140px;
    padding: 10px;
    position: relative;
}

@media screen and (max-width: 640px) {
    .top {
        flex-direction: column;
        align-items: center;
    }
}

.top-content {
    padding-top: 35px;
    text-align: center;
    flex: 1;
}

.countdown {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 30px;
    background: #738290;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 4px 4px;
}