.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    color: #181d27;
    min-height: 140px;
    position: relative;
}

.logo {
    width: 150px;
    padding: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 28px;
}

.icons > a {
    color: #5A7D7C;
    margin: 0 5px;
}

.icons > a:hover {
    color: #CCA403;
}

.content {
    margin: auto;
    text-align: center;
    font-size: 20px;
    max-width: 860px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }

    .content {
        font-size: 15px;
    }
}

.countdown {
    margin-top: 10px;
    font-size: 14px;
}
