body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open-Sans', 'Open Sans', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: #181D27;
}

html {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}
