.login {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-mjrt {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0px;
    background: #fafafa;
}

.login-content {
    padding-top: 20px;
    text-align: center;
    flex: 1;
}

.login-card {
    color: #fafafa;
    max-width: 500px;
    margin: auto;
    padding: 15px;
}

.login-lost {
    margin-bottom: 10px;
    padding: 10px;
    background: #fb4f4f;
    color: #181d27;
}

.login-private {
    margin-bottom: 10px;
    padding: 10px;
    background: #fbc93d;
    color: #181d27;
}

.login-loginForm {
    text-align: center;
    margin: 20px 0;
}

.login-privateBox {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-privateBox > input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #fafafa;
}

.login-oneLine {
    background: #fafafa;
    display: inline-flex;
    border-radius: 23px;
    padding: 2px;
    align-items: center;
}

.login-nickname {
    width: 180px;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #181d27;
    border-radius: 23px;
    margin: 0 10px 0 15px;
}

.login-submit {
    height: 42px;
    padding: 0 16px;
    border: 0;
    background-color: #CCA403;
    border-radius: 23px;
    color: #181d27;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.motion-twin {
    color: #fafafa;
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.motion-twin > a {
    color: #fafafa;
}
