.engine {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.players {
    flex: 1;
    padding: 10px 10px;
    background: #222;
}

@media screen and (max-width: 360px) {
    .players {
        padding: 5px 5px;
    }
}

.players-container {
    max-width: 860px;
    margin: auto;
}

.engine-question {
    flex: 1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.engine-answers {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.engine-answer {
    width: 30%;
    height: 40px;
}
