.engine {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.players {
    display: flex;
    max-width: 1008px;
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
    justify-content: left;
    overflow: auto;
    flex: 1;
}

@media screen and (min-width: 897px) and (max-width: 1007px) {
    .players {
        max-width: 897px;
    }
}

@media screen and (min-width: 786px) and (max-width: 896px) {
    .players {
        max-width: 786px;
    }
}

@media screen and (min-width: 675px) and (max-width: 785px) {
    .players {
        max-width: 675px;
    }
}

@media screen and (min-width: 564px) and (max-width: 674px) {
    .players {
        max-width: 564px;
    }
}

@media screen and (min-width: 501px) and (max-width: 563px) {
    .players {
        max-width: 453px;
    }
}

@media screen and (min-width: 445px) and (max-width: 500px) {
    .players {
        max-width: 445px;
    }
}

@media screen and (max-width: 444px) {
    .players {
        max-width: 360px;
    }
}

.playersContainer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.emotePlaceholder {
    min-width: 50px;
    width: 50px;
}

@media screen and (max-width: 500px) {
    .playersContainer {
        padding: 5px;
    }

    .emotePlaceholder {
        width: 0px;
        min-width: unset;
    }
}

.simpleText > span > a {
    color: #5A7D7C;
    text-decoration: none;
}

.simpleText {
    padding: 0 5px 5px 5px;
}
