.engine {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.players {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    justify-content: left;
}

.players-container {
    padding: 10px;
}

.engine-question {
    flex: 1;
    padding: 10px;
    font-size: 28px;
}

@media screen and (max-width: 360px) {
    .players-container {
        padding: 5px;
    }

    .engine-question {
        font-size: 24px;
    }
}

.engine-answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.engine-answer {
    width: 30%;
    height: 40px;
}

.engine-finished > span > a {
    color: #5A7D7C;
    text-decoration: none;
}

.engine-between {
    padding: 0 5px 5px 5px;
}

.engine-between > span > a {
    color: #5A7D7C;
    text-decoration: none;
}
